.experiencie__box{
    display: flex;
    gap: 0.6rem;
    padding: 32px 100px;  
}
.experience__box{
    display: flex;
    flex-direction: row-reverse;
    gap: 0.6rem;
    padding: 32px 100px;
}
.experience__img{
    border-radius: 12px; 
    display: flex;
    width: 64%;   
}