.title__profile{
    border-radius: 50%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    height: 368px;
    width: 368px;
}
.title__profile:hover{
    transform:scale(1.1);
}